<!-- src/components/TaskList.vue -->
<template>
  <div>
    <div class="container">
      <h2>Liste des taches</h2>
      <h3>Nouveau tache</h3>
      <p>
        <input class="form-control" v-model="newTask" placeholder="Nouvelle tâche" /><button @click="addTask">
          Ajouter
        </button>
      </p>

      <h3>Liste</h3>
      <ul>
        <li v-for="task in tasks" :key="task.id">
          <Task :task="task" @delete="deleteTask" />
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import { computed, ref } from 'vue'
import { useStore } from 'vuex'
import Task from './Task.vue'

export default {
  components: {
    Task
  },
  setup() {
    const store = useStore()
    const tasks = computed(() => store.getters.tasks)
    const newTask = ref('')

    const addTask = () => {
        // Execution de l'ajout du requete
      store.dispatch('addTask', newTask.value);
      newTask.value = ''
    }

    const deleteTask = (taskId) => {
        // Execution du suppression vers le store
      store.dispatch('deleteTask', taskId)
    }

    return {
      tasks,
      newTask,
      addTask,
      deleteTask
    }
  }
}
</script>

<style scoped>
.container {
  display: block;
  width: 400px;
  margin: 10px auto 100px;
  background-color: #fff;
  padding: 0px 10px 10px 10px;
  border-radius: 10px;
}

h2 {
  text-align: center;
  padding-top: 10px;
  margin-bottom: 0px;
}

ul {
  margin: 0;
  padding: 0;
}

li * {
  float: left;
}

li,
h3 {
  clear: both;
  list-style: none;
}

input {
  outline: none;
}

button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  margin: 10px 0 0;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

button:hover {
  color: #333;
}

/* Heading */

h3 {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 20px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

input[type='text']:focus {
  color: #333;
}

li {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}

#completed-tasks label {
  text-decoration: line-through;
  color: #888;
}
</style>
