<!-- eslint-disable vue/multi-word-component-names -->
<template>
    <div>
      <p>{{ task.title }}</p>
      <button class="btn btn-danger" @click="deleteTask">Supprimer</button>
    </div>
  </template>
  
  <script>
  export default {
    props: {
      task: Object
    },
    methods: {
      deleteTask() {

        // Envoi du donnée vers le parent
        this.$emit('delete', this.task.id);
      }
    }
  };
  </script>
  
  <style scoped>
  /* Votre CSS ici */
  </style>
  