<template>
  <div>
    <h1>A propos du société</h1>
    <ul>
      <li v-for="post in posts" :key="post.id">
        {{ post.title }}
      </li>
    </ul>
  </div>
</template>

<script>
import { ref, onMounted } from 'vue';
import DataService from '@/services/data';

export default {
  setup() {
    const posts = ref([]);

    onMounted(async () => {
      try {
        console.log(DataService);
        const response = await DataService.getAll();
        console.log(response);
        posts.value = response.data;
        console.log(response.data);
      } catch (error) {
        console.error(error);
      }
    });

    return { posts };
  },
};
</script>
