<template>
  <div class="contact">
    <h2>Contactez moi</h2>
    <div class="container">
      <div class="contact__wrapper shadow-lg mt-n9">
          <div class="row no-gutters">
              <div class="col-lg-12 contact-form__wrapper p-5">
                  <form action="#" class="contact-form form-validate" >
                      <div class="row">
                          <div class="col-sm-6 mb-3">
                              <div class="form-group">
                                  <label class="required-field" for="firstName">Prénom</label>
                                  <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Jean">
                              </div>
                          </div>
      
                          <div class="col-sm-6 mb-3">
                              <div class="form-group">
                                  <label for="lastName">Nom</label>
                                  <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Dupont">
                              </div>
                          </div>
      
                          <div class="col-sm-6 mb-3">
                              <div class="form-group">
                                  <label class="required-field" for="email">Email</label>
                                  <input type="text" class="form-control" id="email" name="email" placeholder="jean@dupont.com">
                              </div>
                          </div>
      
                          <div class="col-sm-6 mb-3">
                              <div class="form-group">
                                  <label for="phone">Téléphone</label>
                                  <input type="tel" class="form-control" id="phone" name="phone" placeholder="+32 71 123 456">
                              </div>
                          </div>
      
                          <div class="col-sm-12 mb-3">
                              <div class="form-group">
                                  <label class="required-field" for="message">Comment pouvons-nous vous aider ?</label>
                                  <textarea class="form-control" id="message" name="message" rows="4" placeholder="Bonjour, j'aimerais…"></textarea>
                              </div>
                          </div>
      
                          <div class="col-sm-12 mb-3">
                              <button type="submit" name="submit" class="btn btn-primary">Envoyer</button>
                          </div>
      
                      </div>
                  </form>
              </div>
              <!-- End Contact Form Wrapper -->
      
          </div>
      </div>
  </div>
  </div>
</template>

<style scoped>
.gradient-brand-color {
  background-image: -webkit-linear-gradient(0deg, #376be6 0%, #6470ef 100%);
  background-image: -ms-linear-gradient(0deg, #376be6 0%, #6470ef 100%);
  color: #fff;
}
.contact-info__wrapper {
  overflow: hidden;
  border-radius: .625rem .625rem 0 0
}

@media (min-width: 1024px) {
  .contact-info__wrapper {
      border-radius: 0 .625rem .625rem 0;
      padding: 5rem !important
  }
}
.contact-info__list span.position-absolute {
  left: 0
}
.z-index-101 {
  z-index: 101;
}
.list-style--none {
  list-style: none;
}
.contact__wrapper {
  background-color: #fff;
  border-radius: 0 0 .625rem .625rem
}

@media (min-width: 1024px) {
  .contact__wrapper {
      border-radius: .625rem 0 .625rem .625rem
  }
}
@media (min-width: 1024px) {
  .contact-form__wrapper {
      padding: 5rem !important
  }
}
.shadow-lg {
  box-shadow: 0 1rem 3rem rgba(132,138,163,0.1) !important;
}
</style>
