<script setup>
import { RouterLink, RouterView } from 'vue-router'
</script>

<template>
  <header>
    
      <nav>
        <RouterLink class="mr-3" to="/">Accueil</RouterLink>
        <RouterLink class="mr-3" to="/about">A propos</RouterLink>
        <RouterLink to="/contact">Contact</RouterLink>
      </nav>
  </header>

  <RouterView />
</template>

<style scoped>

</style>
